

// .menu-header-item {
//     position: relative;
//     padding: 0px 10px;
// }

// .menu-header-item a {
//     font-size: 13px;
//     // color: white;
//     text-decoration: none;
//     font-weight: 100;
//     margin-left: 15px;
// }




// .icon-header {
//     font-size: 17px;
//     padding: 0px 5px;
// }


// .header-bottom {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }




// .header-search {
//     height: 40px;
//     flex: 1;
//     background-color: #f57224;
//     border-radius: 8px;
//     display: flex;
//     align-items: center;
// }

// .header-search-input-wrap {
//     height: 100%;
//     flex: 1;
// }

// .header-search-input {
//     width: 100%;
//     height: 100%;
//     border: none;
//     outline: none;
//     font-size: 15px;
//     padding: 0 16px;
//     border-radius: 3px;
//     background-color: #eff0f5;
// }

// .header-search-btn {
//     border: none;
//     height: 34px;
//     background-color: #f57224;
//     border-radius: 3px;
//     margin-right: 3px;
//     width: 60px;
//     outline: none;
// }









// .header-cart {
//     width: 150px;
//     text-align: center;
//     position: relative;
// }

// .cart {
//     position: relative;
//     display: inline-block;
//     cursor: pointer;
//     font-size: 20px;
//     color: white;
//     margin-top: 6px;
//     padding: 5px;
//     border-radius: 30%;
//     transition: .3s;

//     &:hover {
//         border-radius: 50%;
//         background-color: #ffffff44;
//     }

//     &::after {
//         content: attr(badge);
//         position: absolute;
//         top: -5px;
//         right: 15px;
//         padding: 0 5px;
//         min-width: 20px;
//         transform: translateX(100%);
//         height: 20px;
//         border-radius: 9px;
//         background-color: white;
//         border: 1px solid;
//         color: #f53e2d;
//         font-size: 12px;
//         line-height: 20px;
//         text-align: center;
//     }
// }

// .header-cart-icon {
//     font-size: 36px;
//     color: white;
//     margin-top: 6px;
// }

// .header-cart-list {
//     position: absolute;
//     top: 120%;
//     right: 20px;
//     width: 450px;
//     border-radius: 3px;
//     box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
//     min-height: 50px;
//     background-color: white;
//     z-index: 30;
//     display: none;

// }


// .header-cart-list::after {
//     content: "";
//     position: absolute;
//     right: 33px;
//     top: -26px;
//     border-style: solid;
//     /* trên-phải-dưới-trái */
//     border-color: transparent transparent white transparent;
//     /* trên dưới-trái phải */
//     border-width: 16px 20px;
// }

// .header-cart:hover .header-cart-list {
//     display: block;
//     z-index: 30;
//     transition: opacity 0.5s ease-in-out;
// }

// .tenSP {
//     font-size: 16px;
//     font-weight: 400;
//     color: #555;
//     line-height: 1.8rem;
//     /* không cho văn bản xuống dòng */
//     white-space: nowrap;
//     overflow: hidden;
//     /* thêm ba chấm (...) vào cuối của văn bản bị cắt */
//     text-overflow: ellipsis;
// }


// .header-cart-no-cart-img {
//     object-fit: cover;
//     width: 50%;
//     height: 50%;
//     margin-left: 100px;


// }

// .span-no-cart {
//     display: block;
//     font-size: 17px;
// }


.header-top-cart{
    position: relative;
}

.header-top-cart-list{
    position: absolute;
    top: 105%;
    right: 10px;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    min-height: 50px;
    background-color: white;
    z-index: 30;
    display: none;
}

.header-top-cart-list a{
    display: block;
    padding: 10px;
    color: #555;
    font-weight: 500;
}

.header-top-cart-list a:hover{
    background-color: #fafafa;
    color: #89dcd1;
    font-weight: 500;
}

.header-top-cart-list::after {
    content: "";
    position: absolute;
    right: 8px;
    top: -18px;
    border-style: solid;
    /* trên-phải-dưới-trái */
    border-color: transparent transparent white transparent;
    /* trên dưới-trái phải */
    border-width: 10px 10px;
}

.header-top-cart:hover .header-top-cart-list {
    display: block;
    z-index: 30;
}




