.info-product {
    display: flex;
}

.info-product-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, .4);
    font-size: .875rem;
    box-sizing: border-box;
    width: 11rem;
    padding-right: 0.75rem;
    margin-bottom: 8px;
}