.product-item {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.07);
    margin: 15px 3px 0;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
    border-radius: 0.140rem;
    transition: transform 0.2s;
}

.product-item:hover {
    transform: translateY(-3px);

}

.product-item-img {
    width: 100%;
    height: 170px;
}

.product-item-img img {
    min-height: 100px;
    width: 100%;
    background-size: contain;
}



.product-item-title {
    font-size: 13px;
    font-weight: 400;
    color: #555;
    line-height: 16px;
    margin: 10px 10px 5px;
    overflow: hidden;
    display: block;
    min-height: 25px;
    /* Thiết lập hiển thị phần tử dưới dạng các box. */
    display: -webkit-box;
    /* Thiết lập hướng của các box theo chiều dọc (vertical). */
    -webkit-box-orient: vertical;
    /* Giới hạn số dòng trong phần tử box là 2 dòng. */
    -webkit-line-clamp: 2;

}


.product-YeuThich {
    position: absolute;
    top: 10px;
    left: -5px;
    color: white;
    background-color: #ee4b2b;
    font-size: 11px;
    font-weight: 500;
    padding-right: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}



.product-YeuThich i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}


.product-Sale {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
    background-color: rgb(255, 211, 59, 0.9);
    text-align: center;
    line-height: 14px;
}

.product-giamGia {
    color: #f4471e;
    font-weight: 600;
    font-size: 12px;

}

.product-giamGia span {
    font-size: 12px;
    color: white;


}

.product-Sale::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    /* trên 0, trái phải 20, dưới 6 */
    border-width: 0 20px 10px;
    border-style: solid;
    border-color: transparent rgb(255, 211, 59, 0.9) transparent rgb(255, 211, 59, 0.9);
}